name: continuous integration
on:
  push:
    branches: [ git-actions ]
jobs:
  test_codebase:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v1
        with:
          python-version: "3.9"
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install requirements.txt
      - name: run tests
        run: pytest